* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame {
    width: 600px;
    height: fit-content;
    padding: 5px;
    border-radius: 15px;
}

.kola {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.button {
    padding: 5px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: 1px solid #ffc107;
}

body {
    background-image: linear-gradient(to right, #ffc107, #212529, #ffc107);
}

.display {
    width: 200px;
    padding: 5px;
}

.hold-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width :470px) {
    .frame {
        width: 100%;
        transform: translate(-0px);
        padding: 5px;
        margin-top: 50%;
    }
    body {
        overflow: hidden;
    }
}